{
  "plugins": [
    "transform-runtime",
    ["add-module-exports", {
        "addDefaultProperty": true
      }
    ]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "8.11"
      }
    }]
  ]
}
