$background-color = #33455F
$primary = #20324F
$primary-dark = #0F2039
$primary-light = #495C77
$primary-lightest = #6B7B91

$secondary = #658340
$secondary-light = #85A45F
$secondary-lightest = #AFC98F
$secondary-dark = #AFC98F
$secondary-darkest = #324F0F

.header
  margin 10rem auto
  text-align center
  width 100%

  .logo
    width 300px
  h1
    font-size 3rem
  h2
    color $secondary-lightest
