$primary-dark = #0F2039
$secondary-darkest = #324F0F
.footer
  background-color white
  box-sizing border-box
  color $primary-dark
  height 10rem
  padding 1rem
  width 100%

  ul
    list-style none
    margin-left 50%
    max-width 900px
    padding 0
    transform translate(-450px)
    li
      display flex
      flex-direction row
      margin 0.5rem 0
      img
        height 1rem
        margin-right .5rem
        vertical-align middle
      a
        text-decoration none
        color $secondary-darkest 
